.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
src/c1_BoW_Sentiment_Model.pkl
src/c2_Classifier_Sentiment_Model

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
